<section class="w-full bg-white">
  <div class="max-w-7xl mx-auto px-6 md:px-8 py-16 md:py-24">

    <div class="grid md:grid-cols-3 gap-6">
      <img src="/tierra.jpg" class="rounded-[1.75rem] h-64 w-full object-cover" />
      <img src="/deutz.jpg" class="rounded-[1.75rem] h-64 w-full object-cover" />
      <img src="/girasol.jpg" class="rounded-[1.75rem] h-64 w-full object-cover" />
    </div>

  </div>
</section>